<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="DefaultWidth" value="3440"/>
    <add key="DefaultHeight" value="1440"/>
    <add key="DefaultFrequency" value="144"/>
  </appSettings>
</configuration>